html{
    scroll-behavior: smooth;
}
body{
    margin:0;
}
.pg1-container{
    position: relative;
    background-image: url('images/Base\ BG.svg');
    background-size: cover;
    background-color: black;
    width: 100%;
}
.bg-stars{
    position: absolute;
    width: 100%;
}
.page-header{
    display: flex;
    flex-direction: row;
    max-width: 1920px;
    padding: 40px 62px;
    gap: 40px;
    height: 156px;

    margin: 0 auto 30px auto;
    font-family: 'Syne';
    font-weight: 500;
    font-size: 24px;
    color: #5F5F5F;

    align-items: start;
    justify-content: right;
}
.hdricon{
    max-height: 50px;
    
}
.header-link{
    text-decoration: none;
    border-radius: 50px;
    color: #5F5F5F;
    padding: 20 40px;

    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px;
    border-color: #00000000;

    transition: all .2s ease;
}
.header-link:hover{
    background-color: rgba(255, 255, 255, 0.19);
    border-style: solid;
    border-width: 1px;
    border-color: #ffffffad;
    color: white;

    backdrop-filter: blur(5px);
}


.footer-container{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 550px;

    padding-left: 123px;
    padding-right: 123px;
    align-items: center;
    justify-content: center;

    font-family: 'Syne';
    font-weight: 500;
    font-size: 24px;
    color: #5F5F5F;
    background-color: #191919;
    color: white;
}
.ftr-row-l{
    display: flex;
    flex-direction: column;
    text-align: left;

    margin-top: 100px;
}
.ftr-title{
    font-size: 64px;
    font-weight: 700;
}
.ftr-links{
    display: flex;
    flex-direction: row;
    width: 70%;

    margin-top: 40px;

    justify-content: space-between;
}
.ftr-link-button{
    display: flex;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    border: 1px solid #939393;
    transition: all 0.1s ease;
    
}
.ftr-link-button:hover{
    background-color: #4b4b4b79;
}
/* Ellipse 186 */
.footnote{
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: baseline;
    margin-top: 250px;
}
.ftr-row-r{
    align-items:end;
    text-align: right;

    font-size: 24px;
    font-weight: 200;
}
.flair{
    display: inline-flex;
    font-size: 32px;
    font-weight: 400;
    color: #206CFF;
}
