*, ::after, ::before {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    line-height: 1.5;
}
body{
    margin:0;
    padding: 0;
}
.bg-stars{
    position: absolute;
    width: 100%;
}
.flex-row, .flex-row-resp{
    display:flex;
    flex-direction: row;
 }
.flex.col{
    display: flex;
    flex-direction: column;
 }
.page-header, .page-header-dark{
    display: flex;
    flex-direction: row;
    padding: 3rem 0;
    gap: 2rem;

    margin: 0 auto 0 auto;
    font-family: 'Syne';
    font-weight: 200;
    font-size: 1.5rem;

    align-items: center;
    justify-content: center;
    z-index: 999;
}

.hdrsvg{
    height: 3rem;
    padding: 0 2rem;
}

.header-link{
    text-decoration: none;
    border-radius: 50px;
    padding: 1rem 2rem;

    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);

    transition: all .2s ease;
}
.ham-button{
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 70vw;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar a{
    width: 100%;
}
.page-header a{
    color:#5F5F5F;
}
.page-header-dark a{
color: rgba(255, 255, 255, 0.793);
}
.header-link:hover{
    background-color: rgba(255, 255, 255, 0.19);
    border-style: solid;
    border-width: 1px;
    border-color: #ffffffad;
    color: white;

    backdrop-filter: blur(5px);
}


.page-title{
    width: 100%;
    max-width: 1240px;
    font-size: 2em;
    margin: auto;
    padding: 1rem 1rem;
    line-height: 1.15px;
    
}
.section-header{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 1rem auto 1.5em auto;
    
    border-bottom: 1px solid white;
}
.page-footer{
    display: flex;
    flex-direction: column;
    background-color: #191919;
    width: 100%;
    
    font-family: 'Syne';
    font-weight: 500;
    font-size: 1rem;
    color: white;
}
.footer-container{
    max-width: 80vw;
    width: 100%;
    padding: 3em 3em;
    min-height: 400px;  
    margin: 0 auto 3em auto;
    z-index: 999;
}

.ftr-row-l{
    align-content: flex-end;
    justify-content: space-between;
    margin-top: 3em;

}
.ftr-title{
    font-size: 4em;
    text-wrap: pretty;
    font-weight: 600;
    padding-top: 3em;
    line-height: 1.15;
}
.ftr-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;

    justify-content: flex-start;
}
.ftr-link-button{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footnote{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-wrap: wrap;
    font-size: 1em;
}
.ftr-row-r{
    align-items:end;
    text-align: right;

    font-size: 1em;
    font-weight: 200;
}
.flair{
    display: inline-flex;
    font-size: 1em;
    font-weight: 400;
    color: #206CFF;
}
.span-2{
    grid-column: auto / span 2;
}
.span-3{
    grid-column: auto / span 3;
}
.span-4{
    grid-column: auto / span 4;
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.box-centre{
    justify-self: center;
    align-self: center;
}
.text-centre{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.jc{
    justify-content: center;
}
@media screen and (max-width:768px) {
    .footer-container {
        flex-direction: column;
        justify-content: left;
    }
    .ftr-row-r{
        max-width: 120px;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    
}
@media screen and (min-width:992px) and (max-width:1200px) {
    
}
@media screen and (max-width:992px){
    .header-link{
        display: none;
    }
    .hdrsvg{
        height: 2.5rem;
    }
    .ham-button{
        display: block;
        padding: 0 2rem;
    }
    .sidebar .header-link{
        display: block;
    }
    .page-header, .page-header-dark{
        justify-content: space-between;
    }
 }
