body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne';
    font-weight: 400;
    font-size: 1.2rem;
    color: #C1C1C1;
}
a{
    text-decoration: none;
}
.hero-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 5vw;
    height: auto;

}
.pg-title{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 3em;
    margin: 1.5em auto 1em;
    font-family: 'Red Hat Display';
    font-weight: 900;

    color: #545454;
}
.hs-bg{
    min-height: 22vw;
    width:  100%;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 15vw 15vw;
}
.landingpg-mockup{
    justify-content: center;
    margin: -22vw auto 0;
    width: 70%;
}
.lpg-mockup{
    width: 100%;
}
.pg2-container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #555555 2.65%, #262626 29.31%, #1C1C1C 40.48%, #171717 52.24%, #171717 58.55%, #171717 100%);
    height: auto;
    width: 100%;
    padding-bottom: 3rem;
}
.pg3-container, .pg4-container, .pg5-container, .pg6-container, .pg7-container{
    display: flex;
    flex-direction: column;
    background-color: #171717;
    height: auto;
    width: 100%;
}
.subcontainer{
    max-width: 1240px;
    padding: 0 1rem;
    margin: auto;
}
.subcontainer-l{
    max-width: 1360px;
    padding: 0 1rem;
    margin: auto;
}
.subcontainer-xl{
    max-width: 1440px;
    padding: 0 1rem;
    margin: auto;
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2em;
    row-gap: 0.5em;

    max-width: 1240px;
    padding: 0 1rem;

    text-wrap: wrap;
    margin: auto;
    color: #C1C1C1;
}
.pgrid-text{
    text-align: justify;
}
.pgrid-box{
    float: right;
    padding: 1rem;
    justify-content:space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;

    background: rgba(255, 128, 128, 0.02);
    border: 3px solid rgba(255, 94, 94, 0.4);
    border-radius: 3vh;
}
.pgrid-box-text{
    max-width: 75px;
    text-wrap: wrap;
}
.pgrid-box{
    text-align: start;
    padding: 2em;

}
.pgrid-box-title{
    font-size: 1.5em;
    font-weight: 600;
    color: white;
}
.pgrid-box-text{
    text-wrap: wrap;
}
.tcr3{
    column-gap: 2em;
}
.ur-tc-flex{
    display: flex;
    flex-direction: column;
    margin: auto;

    font-family: 'Syne';
    font-size: 1em;
    font-weight: 500;
    text-align: justify;
    color: #9D9D9D;
}
.ur-tcf-p2{
    display: flex;
    flex-direction: row;
    margin: 50px 0;
    width: 100%;
}
.ur-tcf-p2-title{
    justify-content: left;
    align-items: flex-start;
    width: 30%;

    color: white;
}
.ur-tcf-p2-content{
    justify-content: left;
    width: 70%;
}
.ur-up-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    margin: 1.5em auto 3em;
}
.ur-up-flexcol1{
    display: flex;
    flex-direction: column;
    padding: 8%;
    
    text-align: justify;
    color: #9D9D9D;

    background: rgba(255, 195, 79, 0.02);
    border: 3px solid rgba(255, 196, 47, 0.4);
    border-radius: 40px;    
}
.ur-up-profilepic{
    width: 35%;
    padding-bottom: 4%;
}
.ur-up-name{
    font-weight: 600;
    font-size: 2.5vw;
    color: white;
}
.ur-up-bio{
    margin-bottom: 2%;
}
.ur-up-col-title{
    font-weight: 600;
    font-size: 1.5vw;
    color: #B89145;
}
.ur-up-fc1-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6%;
}
.ur-up-fc1-grid li{
    margin-bottom: 1em;
    line-height: 1.15;
    text-align: justify;
    font-size: 0.8em;
}
.section-title{
    display: flex;
    color: white;
    margin: 2rem auto 2rem;
}
.pg5-main-graphic, .wf-bg, .wfbg, .pagrbicolor, .pg6-lp-screen, .lp-sc-png, .ch-process, .map-img{
    width: 100%;
    margin-bottom: 5em;
}
.pg5-bi-clr, .pg5-type, .pagrbilogo, .pagrbiphone, .pagrbitypo, .chimg, .spimg, .cm-pg, .filterimg{
    width: 100%;
}
.brand-identity, .nav-menu{
    margin-bottom: 3rem;
    gap: 3rem;
}
.community-pages{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(135deg, rgba(14, 14, 14, 0.16) 20%, rgba(187, 187, 187, 0.3) 60%, rgba(255, 255, 255, 0.6) 100%);
    border-radius: 5vw;
    padding: 2px;
}
.community-pages-bg{
    background: #131313;
    border-radius: 5vw;
    padding: 2em;
}
.cm-pg{
    display: flex;
    padding: 1em 1em 0 1em;
    align-self: center;
}
.profile-container{
    width: 100%;

}
.profileimg{
    width: 90%;
    margin-left: -4em;
    margin-bottom: 5em;
}
.profile-content{
    max-width: 600px;
    float: right;
    top: 0;
}
@media screen and (max-width:768px) {
    body{
        font-size: 16px;
    }

}
@media screen and (min-width:768px) and (max-width:992px) {
    
}
@media screen and (min-width:992px) and (max-width:1200px) {
    
}